In [1]:
# Simple program to add two given numbers

a = 4
b = 7 
c = a + b
print(c)

11

**Breakdown**

In [3]:
a = 4

In [4]:
a

4

- **a** is a variable. Variable can be termed as "bucket" which holds a given value.
- so as **b**

In [5]:
c = a + b

In [6]:
c

11

In [7]:
c = 4 + 7
c

11

- the value of **c** is computed by adding value of **a** and value of **b**

### Functions

In [10]:
def add(a, b):
        return a + b

- **def** means define a function named add, for which we will give two values that will return a value

In [11]:
add(4, 7)

11

In [12]:
c = add(5, 6)
print(c)

11

- Above stores the return value into variable **c** and we printed the value of variable

In [13]:
add (88, 97)

185

In [14]:
add (5.7, 7)

12.7

- 7 is an integer
- 5.7 is float

In [15]:
int(5.5)

5

In [16]:
float(5)

5.0

In [17]:
'a'

'a'

In [18]:
'6'

'6'

In [19]:
"This is text"

'This is text'

In [21]:
'''This is 
long text'''

'This is \nlong text'

In [22]:
"""This is same
text with newline"""

'This is same\ntext with newline'

### Scope

In [29]:
result = 6 
second = 9
def add_two(first, second):
    result = first + second
    print("Inner",result)
    return result

add_two(8, 3)
print("Outer value",result)

Inner 11
Outer value 6

- function name uses snake case naming convention, using small letters and separating letters with underscore
- ' , ' provides two different items within the print function. only works in print function

In [32]:
def add_another(a, b):
    cc = a + b
    return cc

a = add_another(3, 5)
print(cc)

NameError: name 'cc' is not defined

In [33]:
'5'

'5'

In [34]:
'5' + '6'

'56'

- concatenation ( + )

In [35]:
'this is another' + ' example'

'this is another example'

In [36]:
5-6

-1

In [37]:
7 - 9.5

-2.5

In [38]:
'a' - 'x'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
3 * 3.4

10.2

In [40]:
'a' * 5

'aaaaa'

In [43]:
'this' * 3

'thisthisthis'

In [44]:
3 ** 2

9

In [45]:
5 ** 2.5

55.90169943749474

In [47]:
'%.2f' % 5 ** 2.5

'55.90'

In [48]:
5/2

2.5

- real division / float division

In [50]:
5 // 2

2

- integer division

In [51]:
5 % 2

1

- remainder operator

In [52]:
'5' + 5

TypeError: must be str, not int

In [53]:
'5' + str(5)

'55'

In [54]:
int('5') + 5

10

- explicit
- implicit