# Data Structures 
--------------------------
- List (like an array but can store different or multiple types of data, starts with [ ], it is mutable)
- Dictionary (is a pair of  key and value, key should be unique but value can be multiple starts with {})
- Tuple
- Set

In [4]:
names =['harry', 'Bob', 'Robbin']

In [5]:
info =['Jim', 28, 78.5]

In [6]:
info[0]

'Jim'

In [7]:
names[1]

'Bob'

In [8]:
names[-1]

'Robbin'

In [9]:
info[:2]

['Jim', 28]

# Dictionary

In [10]:
info_dct = {
    'name' : 'jim',
    'age' : 28,
    'weight' : 78.5
}

- its a key based indexing
- it have no slicing concept

In [12]:
info_dct['name']

'jim'

# Tuple
------------
- its like list but uses ( ) 
    - But differs in mutability - it is immutable
- it can also have different data types

In [17]:
ip_address =('192.168.56.12', '192.168.52.91')

In [14]:
ip_address[0]

'192.168.56.12'

In [15]:
ip_address[-1]

'192.168.52.91'

In [16]:
ip_address[:2]

('192.168.56.12', '192.168.52.91')

In [18]:
address = (36,'Some Tole', 'Kathmandu', 'Nepal')

In [20]:
#list
names

['harry', 'Bob', 'Robbin']

In [23]:
names.append('Bruce') # it adds the Bruce in the list

In [22]:
names

['harry', 'Bob', 'Robbin', 'Bruce']

In [24]:
address.append('Asia')

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
names

['harry', 'Bob', 'Robbin', 'Bruce', 'Bruce']

In [26]:
address

(36, 'Some Tole', 'Kathmandu', 'Nepal')

In [27]:
info_dct

{'age': 28, 'name': 'jim', 'weight': 78.5}

In [28]:
info_dct[0]

KeyError: 0

In [29]:
city = 'Kathmandu'

In [30]:
names[0]

'harry'

In [31]:
names[0] = 'Gordon'

In [32]:
names

['Gordon', 'Bob', 'Robbin', 'Bruce', 'Bruce']

In [33]:
address[0] = 12

TypeError: 'tuple' object does not support item assignment

In [34]:
info_dct['name'] = 'Gordon'

In [35]:
info_dct

{'age': 28, 'name': 'Gordon', 'weight': 78.5}

In [36]:
city

'Kathmandu'

In [37]:
city[0]

'K'

In [38]:
city[0] = 'P'

TypeError: 'str' object does not support item assignment

In [48]:
city = 'Kathmandu'

In [49]:
city = 'P' + city[1:]

In [50]:
city

'Pathmandu'

# Set

In [51]:
numbers = {56, 12, 89, 9, 112, 8, 7, 7, 5, 4, 3, 22, 9, 8, 7, 5, 4}

In [52]:
numbers

{3, 4, 5, 7, 8, 9, 12, 22, 56, 89, 112}

In [53]:
set([56, 12, 89, 9, 112, 8, 7, 7, 5, 4, 3, 22, 9, 8, 7, 5, 4])

{3, 4, 5, 7, 8, 9, 12, 22, 56, 89, 112}

In [54]:
list(numbers)

[3, 4, 5, 7, 8, 9, 12, 112, 22, 56, 89]

In [55]:
tuple(numbers)

(3, 4, 5, 7, 8, 9, 12, 112, 22, 56, 89)

In [56]:
# List 
# use of string, int and tuple
#different data structure can be used within the data structure od list 

info = ['Bruce Wayne', 15, ('Gotham', 'Wayne Manner')]

In [57]:
info[0]

'Bruce Wayne'

In [58]:
info[1]

15

In [59]:
info[2]

('Gotham', 'Wayne Manner')

In [60]:
#we can use indexing within the address of info[2]
# like a multi dimensional array 
info[2][0]

'Gotham'

In [61]:
info[0]

'Bruce Wayne'

In [62]:
info[0][0]

'B'

In [63]:
info[0][3:8]

'ce Wa'

In [64]:
info[0][3:8][0]

'c'

In [72]:
# you can use list within the tuple
# tuple item will be immutable but the list items can be changed or mutable
numbers = (192, 168, 52, 37, [43, 56, 78])

In [66]:
numbers

(192, 168, 52, 37, [43, 56, 78])

In [67]:
numbers[0] = 67

TypeError: 'tuple' object does not support item assignment

In [68]:
numbers[4]

[43, 56, 78]

In [69]:
numbers[4][0]

43

In [70]:
numbers[4][0] = 87

In [71]:
numbers

(192, 168, 52, 37, [87, 56, 78])

In [73]:
info

['Bruce Wayne', 15, ('Gotham', 'Wayne Manner')]

In [74]:
info.append('Robbin')

In [75]:
info

['Bruce Wayne', 15, ('Gotham', 'Wayne Manner'), 'Robbin']

In [76]:
info.append((4,5,7))

In [77]:
info

['Bruce Wayne', 15, ('Gotham', 'Wayne Manner'), 'Robbin', (4, 5, 7)]

In [78]:
info.insert

In [80]:
help(info.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [87]:
# insert the data in the index an moves in the data from that index to next index
info.insert(1, 'Hello')

In [82]:
info

['Bruce Wayne', 'Hello', 15, ('Gotham', 'Wayne Manner'), 'Robbin', (4, 5, 7)]

In [83]:
info[0]

'Bruce Wayne'

In [86]:
# always pop the last item 
info.pop()

'Robbin'

In [85]:
info

['Bruce Wayne', 'Hello', 15, ('Gotham', 'Wayne Manner'), 'Robbin']

In [92]:
#pops the item in the index 1
info.pop(1)

15

In [91]:
info

['Bruce Wayne', 15, ('Gotham', 'Wayne Manner')]

In [93]:
len(info)

2

In [94]:
len(city)

9

In [95]:
len(numbers)

5

In [96]:
len(info_dct)

3

In [97]:
len(info[0])

11

In [98]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [102]:
info.append('Robbin')

In [103]:
help(info.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [104]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner'), 'Robbin']

In [105]:
info.remove(0)

ValueError: list.remove(x): x not in list

In [106]:
info.remove('Robbin')

In [107]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner')]

In [108]:
info.count(15)

0

In [109]:
info.count('Bruce Wayne')

1

In [110]:
# list
[]

[]

In [111]:
#dictionary if its empty
{}

{}

In [113]:
#tuple
()

()

In [114]:
(1) # expression syntax

1

In [116]:
# is tuple since it have , 
# always put , at the end of tuple if there is only one item
(1,)

(1,)

In [117]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner')]

In [118]:
info.sort()

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [119]:
fruits = ['apple', 'orange', 'banana']

In [128]:
fruits.sort() # sorts in ascending order

In [121]:
fruits

['apple', 'banana', 'orange']

In [125]:
fruits.reverse() # sorts in descending order

In [126]:
fruits

['orange', 'banana', 'apple']

In [127]:
help([].extend)

Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [129]:
for item in info:
    print(item)

Bruce Wayne
('Gotham', 'Wayne Manner')

In [130]:
for each in numbers:
    print(each)

192
168
52
37
[43, 56, 78]

In [131]:
for char in city:
    print(char)

P
a
t
h
m
a
n
d
u

In [132]:
for item in info_dct:
    print(item)

name
age
weight

In [134]:
# to access both items in the dictionary 
for item in info_dct:
    print(item, info_dct[item]) # info_dct[name] since item is name in first loop which is gordon

name Gordon
age 28
weight 78.5

# Tuples

In [135]:
numbers

(192, 168, 52, 37, [43, 56, 78])

In [137]:
numbers.index(192)

0

# Dictionary

In [138]:
info_dct

{'age': 28, 'name': 'Gordon', 'weight': 78.5}

In [139]:
info_dct['age'] = 37

In [141]:
info_dct

{'age': 37, 'name': 'Gordon', 'weight': 78.5}

In [142]:
# to add a new key

In [143]:
info_dct['school'] = 'Some school'

In [144]:
info_dct

{'age': 37, 'name': 'Gordon', 'school': 'Some school', 'weight': 78.5}

In [145]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner')]

In [147]:
# append mutiple items
info.extend([4,5,6])

In [148]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner'), 4, 5, 6]

In [149]:
info.append([4,5,6]) # appends as a list rather than one item at the time

In [150]:
info

['Bruce Wayne', ('Gotham', 'Wayne Manner'), 4, 5, 6, [4, 5, 6]]

In [162]:
info_dct

{'age': 37, 'name': 'Gordon', 'school': 'Some school', 'weight': 78.5}

In [170]:
#Adds multiple key value pair object into the dictionaryt
info_dct.update({
    'a' : 8,
    'b' : 9
})

In [164]:
info_dct

{'a': 8,
 'age': 37,
 'b': 9,
 'name': 'Gordon',
 'school': 'Some school',
 'weight': 78.5}

In [165]:
info_dct['c'] = 99

In [166]:
info_dct

{'a': 8,
 'age': 37,
 'b': 9,
 'c': 99,
 'name': 'Gordon',
 'school': 'Some school',
 'weight': 78.5}

In [169]:
#changes the previous values with new one 
info_dct.update({
    'a' : 77,
    'b' : 88
})

In [168]:
info_dct

{'a': 77,
 'age': 37,
 'b': 88,
 'c': 99,
 'name': 'Gordon',
 'school': 'Some school',
 'weight': 78.5}

In [171]:
numbers = {56, 12, 89, 9, 112, 8, 7, 7, 5, 4, 3, 22, 9, 8, 7, 5, 4}

In [173]:
dir({2,3})

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [175]:
numbers.add(99)

In [176]:
numbers

{3, 4, 5, 7, 8, 9, 12, 22, 56, 89, 99, 112}

In [177]:
numbers.add(89)

In [178]:
numbers

{3, 4, 5, 7, 8, 9, 12, 22, 56, 89, 99, 112}

In [179]:
numbers.intersection({3,5,7,13})

{3, 5, 7}

In [180]:
{3,5,7}.issubset(numbers)

True

In [181]:
numbers.issuperset({3,5,7})

True

In [182]:
True

True

In [183]:
False

False

In [184]:
int(True)

1

In [185]:
int(False)

0

In [186]:
None # an empty object but not a