In [1]:
country = 'Nepal'

In [2]:
country

'Nepal'

In [3]:
ord('a')

97

In [4]:
ord('z')

122

In [5]:
ord('Z')

90

In [6]:
ord('A')

65

In [8]:
chr(91)

'['

In [9]:
chr(96)

'`'

In [10]:
chr(2344)

'рди'

In [11]:
ord('n')

110

In [13]:
'String 1 ' + 'String 2'

'String 1 String 2'

In [14]:
address = "Kathmandu, Nepal"

In [15]:
address[11:]

'Nepal'

In [16]:
address

'Kathmandu, Nepal'

In [17]:
address[11:14]

'Nep'

In [18]:
address[1]

'a'

In [19]:
address[5]

'a'

In [20]:
address[10]

' '

- [ ] Indexing operator

In [21]:
address[1:7]

'athman'

In [22]:
address[7]

'd'

- Slicing [start : end]
- 'Start' position is inclusive 
- 'End' position is exclusive

In [23]:
address[0:9]

'Kathmandu'

In [24]:
address[:9]

'Kathmandu'

- 0 position is default in start if not specified

In [25]:
address[:]

'Kathmandu, Nepal'

In [26]:
len(address)

16

- len specifies the length of that character

In [27]:
address[16]

IndexError: string index out of range

In [28]:
address[15]

'l'

In [29]:
address[:15]

'Kathmandu, Nepa'

In [30]:
address[:16]

'Kathmandu, Nepal'

In [31]:
address[:]

'Kathmandu, Nepal'

In [32]:
address[2:9:2]

'tmnu'

In [33]:
address[2:9:1]

'thmandu'

- using : : : the last position will be 1 by default 
- 1 is a jump character in this example

In [36]:
address[0:5:2]

'Ktm'

In [37]:
address[9:2]

''

In [42]:
address[::1]

'Kathmandu, Nepal'

In [38]:
address[::-1]

'lapeN ,udnamhtaK'

- start is -1
- end is 0
- step is -1

In [40]:
address[-1]

'l'

In [41]:
address[len(address)-3]

'p'

In [43]:
address[9:2:-1]

',udnamh'

In [44]:
address[-3:-8]

''

In [45]:
address[-8:-3]

'u, Ne'

In [57]:
example = '''This black cockatoo has a short crest, mostly greyish-black plumage,
prominent white cheek patches, and a white tail band. '''

- black
- aa
- tail
- white

In [53]:
example [5:10]

'black'

In [59]:
example [7:16:8]

'aa'

In [55]:
example [-11:-7]

'tail'

In [56]:
example [-17:-12]

'white'

# String Operation

In [60]:
# length of String
len('kathmandu')

9

In [61]:
'kathmandu'.upper()

'KATHMANDU'

In [62]:
city = 'kathmandu'
city.upper()

'KATHMANDU'

In [65]:
# do not use this styling 
'kathmandu' . upper()
'kathmandu' .upper()

'KATHMANDU'

In [67]:
# for lowercase letter
city.lower()

'kathmandu'

In [68]:
# capitalize the first letter of the word 
city.capitalize()

'Kathmandu'

In [70]:
# checks the number of character 'a'
city.count('a')

2

In [71]:
# finds the index of the character 't'
city.index('t')

2